# Dependencias
**/node_modules/

# Variables de entorno
**/.env
**/.env.*
!**/.env.example

# Build
**/dist/
**/build/

# Visual Studio
**/.vs/

# Logs
*.log

# Vercel
.vercel/

# Sistema
.DS_Store
Thumbs.db