# Servidor
PORT=3001
NODE_ENV=development

# Base de datos PostgreSQL
DATABASE_URL="postgresql://usuario:password@localhost:5432/tienda_center?schema=public"

# JWT
JWT_SECRET=tu_clave_secreta_jwt_muy_segura_cambiar_en_produccion
JWT_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:5173

# Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# Rate Limit
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
